<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <form class="form-group mt-3 border border-3 border-dark rounded rounded-2 shadow-lg p-3" [formGroup]="signForm" (ngSubmit)="onSubmit()">
                <label for="UserName" class="form-label mt-2">User Name:</label>
                <input type="text" class="form-control" id="userName" placeholder="input UserName Here" [formControlName]="'username'">
                <label for="Email" class="form-label mt-2">Email:</label>
                <input type="email" class="form-control" id="Email" placeholder="input valid Email" [formControlName]="'email'">
                <div class="form-check mt-2" *ngFor="let gender of genders">
                    <input class="form-check-input" type="radio" name="gender" [value]="gender" [formControlName]="'gender'">
                    <label class="form-check-label"> 
                        {{ gender }}
                    </label>
                </div>
                <div class="row justify-content-center mt-2">
                    <div class="col-sm-5">
                        <button class="btn btn-primary w-100" type="submit">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>