<!-- 
<div class="container">
    <app-cockpit (serverCreated)="onCreateServer($event)" (blueprintCreated)="onCreatBlueprint($event)"></app-cockpit>
    <hr>
    <app-server *ngFor="let server of servers; let i = index" [serverElement]="server" [serverIndex]="i" (indexToDelete)="serverDelete($event)"></app-server>
</div>

<div class="container">
    <app-game-control></app-game-control>
</div> -->

<!-- <div class="container mt-2">
    <app-server-main-screen>
    </app-server-main-screen>
</div> -->

<!-- <div class="container mt-2">
    <app-user-actives>
    </app-user-actives>
</div> -->

<!-- <div class="container mt-2">
    <app-form-handeling></app-form-handeling>
</div> -->

<div class="container mt-2">
    <app-form-dervin></app-form-dervin>
</div>